---
// import desktop_kv1 from "../assets/kv1-desktop.jpg";
// import desktop_kv2 from "../assets/kv2-desktop.jpg";

// import mobile_kv1 from "../assets/kv1-mobile.jpg";
// import mobile_kv2 from "../assets/kv2-mobile.jpg";

import { Image } from "astro:assets";

import blue_1 from "../assets/masthead-animated/blue-1@2x.png";
import blue_2 from "../assets/masthead-animated/blue-2@2x.png";
import blue_3 from "../assets/masthead-animated/blue-3@2x.png";

import yellow_1 from "../assets/masthead-animated/yellow-1@2x.png";
import yellow_2 from "../assets/masthead-animated/yellow-2@2x.png";
import yellow_3 from "../assets/masthead-animated/yellow-3@2x.png";

import title from "../assets/masthead-animated/title.svg";
import title_xs from "../assets/masthead-animated/title-xs.svg";
---

  <section id="masthead">
    <div class="container">
      <div class="swiper swiper__masthead">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide__1">
            <Image
              class="element fade-right"
              style="--delay: 0s"
              src={yellow_1}
              alt="Yellow 1"
            />
            <Image
              class="element fade-right"
              style="--delay: 0.3s"
              src={yellow_2}
              alt="Yellow 2"
            />
            <Image
              class="element fade-right"
              style="--delay: 0.6s"
              src={yellow_3}
              alt="Yellow 3"
            />
            <Image
              class="title fade-up"
              style="--delay: 0.8s"
              src={title}
              alt="title"
            />
          </div>
          <div class="swiper-slide slide__2">
            <Image
              class="element fade-up"
              style="--delay: 0s"
              src={blue_1}
              alt="Blue 1"
            />
            <Image
              class="element fade-up"
              style="--delay: 0.3s"
              src={blue_2}
              alt="Blue 2"
            />
            <Image
              class="element fade-up"
              style="--delay: 0.6s"
              src={blue_3}
              alt="Blue 3"
            />
            <Image
              class="title fade-up"
              style="--delay: 0.8s"
              src={title}
              alt="title"
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

<script>
  import { Swiper } from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";

  // This script adds both fade-in-out and fade-up animations to SwiperJS slides and their elements when they change.

  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper(".swiper__masthead", {
      grabCursor: true,
      modules: [Pagination, Navigation, Autoplay],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
      autoplay: {
        delay: 6000,
        disableOnInteraction: true,
      },
      loop: true,
      slidesPerView: 1,
      breakpoints: {},
    });

    const handleFadeUp = (slide) => {
      const elements = slide.querySelectorAll([".fade-up", ".fade-right"]);
      elements.forEach((el) => {
        el.style.animation = "none";
        // Trigger reflow to reset animation
        void el.offsetWidth;
        el.style.animation = "";
      });
    };

    // Start animation on initial slide
    handleFadeUp(swiper.slides[swiper.activeIndex]);
  });
</script>
<style lang="scss">
  .swiper__masthead {
    --yellow: rgb(249, 211, 74);
    --gradient-yellow: linear-gradient(
      135deg,
      rgba(249, 223, 136, 1) 0%,
      rgba(249, 211, 74, 1) 50%
    );
    --blue: rgb(140, 226, 248);
    --gradient-blue: linear-gradient(
      135deg,
      rgba(140, 226, 248, 1) 0%,
      rgba(88, 211, 254, 1) 50%
    );

    overflow: hidden;
    border-radius: var(--bs-border-radius-xxl);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  // recreate layout for animation
  .slide__1 {
    background: var(--yellow);
    background: var(--gradient-yellow);
  }
  .slide__2 {
    background: var(--blue);
    background: var(--gradient-blue);
  }
  // desktop
  .swiper-slide {
    aspect-ratio: 16/8;
    position: relative;
    .element {
      opacity: 0;
      width: 21.5%;
      height: auto;
      position: absolute;
      top: 18.3%;
    }
    .element:nth-child(1) {
      left: 10.5%;
    }
    .element:nth-child(2) {
      left: 39.25%;
    }
    .element:nth-child(3) {
      left: 68%;
    }
    .title {
      opacity: 0;
      width: 75.85%;
      position: absolute;
      left: 50%;
      top: 70%;
      translate: -50% 0;
    }
  }

  /* Add animation */

  /* Initial state */
  // .swiper-slide.swiper-slide-active
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 400ms forwards var(--delay, 0s) ease-in-out;
  }

  /* Fade-up animation using @keyframes */
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-right {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeRight 400ms forwards var(--delay, 0s) ease-in-out;
  }

  /* Fade-up animation using @keyframes */
  @keyframes fadeRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // swiper styling
  .swiper__masthead {
    .swiper-pagination-bullet {
      background: #fff;
    }
    .swiper-pagination-bullet-active {
      background: #007aff;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #007aff;
  }
  .swiper-pagination-bullet-active {
    background: #007aff;
  }
</style>
