---
import CardFlipImage1 from "@assets/why_upskill-img1.jpg";
import CardFlipImage2 from "@assets/why_upskill-img2.jpg";
import CardFlipImage3 from "@assets/why_upskill-img3.jpg";

import CardFlipContent from "@components/CardFlipContent.astro";

const card1_content = [
  {
    label: "SkillsFuture Series",
    href: "https://www.skillsfuture.gov.sg/series",
  },
  {
    label: "Tech-enabled courses",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/training-exchange/course-directory.html?fq=Course_Supp_Period_To_1%3A%5B2022-08-25T00%3A00%3A00Z%20TO%20*%5D&fq=IsValid%3Atrue&q=Tags%3A%22Tech-Enabled%20Services%20(SF%20Series)%22",
  },
  {
    label: "Digital media courses",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/training-exchange/course-directory.html?fq=Course_Supp_Period_To_1%3A%5B2022-08-25T00%3A00%3A00Z%20TO%20*%5D&fq=IsValid%3Atrue&q=Tags%3A%22Digital%20Media%20(SF%20Series)%22",
  },
  {
    label: "Job-Skills Insights",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/job-skills-insights.html",
  },
  {
    label: "Digital Economy courses",
    href: "https://linktr.ee/digitaleconomycourses",
  },
  {
    label: "Green Economy courses",
    href: "https://linktr.ee/greeneconomycourses",
  },
  {
    label: "Care Economy courses",
    href: "https://linktr.ee/careeconomycourses",
  },
];
const card2_content = [
  {
    label: "SkillsFuture Credit",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/SkillsFuture_Credit.html",
  },
  {
    label: "SkillsFuture Career Transition Programme Courses",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/portal-search/portal-search-courses-tab.html?fq=Course_Supp_Period_To_1%3A%5B2022-04-19T00%3A00%3A00Z%20TO%20*%5D&fq=IsValid%3Atrue&q=SCTP",
  },
  {
    label: "SkillsFuture Career Transition Programme info page",
    href: "https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/skillsfuture-career-transition-programme.html",
  },
];
---

<div class="container">
  <div class="row my-5 row-cols-1 row-cols-md-3">
    <!-- card1 -->
    <CardFlipContent>
      <div class="card" slot="card_front">
        <img src={CardFlipImage1} class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">In-Demand Skills</h4>
          <p class="card-text">
            Widen your career choices and options by exploring programmes that
            will equip you with in-demand skills.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-danger btn__cardflip">Find out more</a>
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h4 class="card-title">In-Demand Skills</h4>
          <ul class="nav flex-column">
            {
              card1_content.map((item) => (
                <>
                  <li class="nav-item">
                    <a
                      class="nav-link btn btn-outline-info mb-3 text-capitalize"
                      href={item.href}
                      target="_blank"
                    >
                      {item.label}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </div>
      </div>
    </CardFlipContent>

    <!-- card2 -->
    <CardFlipContent>
      <div class="card" slot="card_front">
        <img src={CardFlipImage2} class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Subsidies and Short Courses</h4>
          <p class="card-text">
            Stay relevant in your current job or prepare yourself for your next
            job opportunity by upgrading your skills through a short subsidised
            course.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-danger btn__cardflip">Find out more</a>
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h4 class="card-title">Subsidies and Short Courses</h4>
          <ul class="nav flex-column">
            {
              card2_content.map((item) => (
                <>
                  <li class="nav-item">
                    <a
                      class="nav-link btn btn-outline-info mb-3"
                      href={item.href}
                      target="_blank"
                    >
                      {item.label}
                    </a>
                  </li>
                </>
              ))
            }
          </ul>
        </div>
      </div>
    </CardFlipContent>

    <!-- card3 -->
    <CardFlipContent>
      <div class="card" slot="card_front">
        <img src={CardFlipImage3} class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Skills and Training Advisory</h4>
          <p>
            Book a free consultation and browse available resources to start
            upgrading your skills.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-danger btn__cardflip">Find out more</a>
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h4 class="card-title">Skills and Training Advisory</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-3">
              Get a free one-to-one consultation with our Skills Ambassadors.
              <a
                class="nav-link btn btn-outline-info mt-2 mb-3"
                href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/skills-training-advice.html"
                target="_blank"
              >
                Find out more
              </a>
            </li>
            <li class="nav-item mb-3">
              Explore a wealth of skills and career resources on <strong
                >MySkillsFuture</strong
              >.
              <a
                class="nav-link btn btn-outline-info mt-2 mb-3"
                href="https://www.myskillsfuture.gov.sg/content/portal/en/index.html"
                target="_blank"
              >
                Find out more
              </a>
            </li>
            <li class="nav-item mb-3">
              Attend free <strong>SkillsFuture Advice</strong> workshops that provide
              guidance on skills upgrading and career planning.
              <a
                class="nav-link btn btn-outline-info mt-2 mb-3"
                href="https://www.skillsfuture.gov.sg/advice"
                target="_blank"
              >
                Find out more
              </a>
            </li>
          </ul>
        </div>
      </div>
    </CardFlipContent>
  </div>
</div>
<style>
  .card > header {
    text-align: end;
  }
  .card > header > .btn {
    padding: 0 1rem;
  }
  .bi {
    font-size: 1.5rem;
  }
</style>
