---
import jay from "@assets/jay.jpg";
import darrek from "@assets/darrek.jpg";
import jacp from "@assets/jacp.jpg";

const testimonials = [
  {
    img_src: jay,
    quote: `
    <h3 class="h5">NEVER GIVE UP AND ALWAYS UPSKILL</h3>

    <p>Mohd Nasir Ja’apar was retrenched last year from an oil and gas company, where he had been a senior quality engineer. In pre-Covid times, he used to be approached by recruiters all the time and was confident that he would always find a job. However, after four months and 60 applications, he made no headway in his job search. But he never lost hope. Determined to gain new skills, he underwent a 6-month professional conversion programme for advanced manufacturing engineers, and managed to find a job. Today, he holds the title of quality manager in the manufacturing and 3D sector.</p>`,
    name: "Mohd Nasir Ja’apar, 48",
  },
  {
    img_src: darrek,
    quote: `
    <h3 class="h5">A SHOT AT A NEW CAREER</h3>

    <p>After 22 years as a police officer, Darrek Lau needed a change. He left his job, looking to update his skills and make a mid-career switch to an IT-related company. He took up an eight-month SGUnited (SGUS) Up-Skill Software Development Programme.</p>

    <p>The course, which was developed in partnership with Microsoft, equipped him with skills needed for the IT industry. Along with his previous diploma in Forensics, he hopes that his new skill set will prepare him for a different type of problem solving at his current role as a software developer.</p>`,
    name: "Darrek Lau, 43",
  },
  {
    img_src: jacp,
    quote: `
    <h3 class="h5">TAKING ADVANTAGE OF OPPORTUNITIES</h3>

    <p>While many viewed the pandemic in a less than positive light, Jacp, on the other hand, saw an opportunity. Many companies were outsourcing their marketing needs due to budget constraints, and she saw a gap that she could fill. Previously a sales director at an online publishing platform, she was determined to take advantage of this opportunity by deepening her skills. As a result, Jacp took up a year-long course in Digital Marketing and Applied Management, under the SGUnited Skills Programme. Helmed by industry veterans, this course has helped her career tremendously, equipping her with the skills—and even courage—to launch her own digital marketing company.</p>`,
    name: "Jacp Fong, 42",
  },
];
---

<!-- 
<div class="tns__testimonial">
  {
    testimonials.map((item, index) => (
      <figure>
        <blockquote class="blockquote text-opacity-25" set:html={item.quote} />
        <img
          src={item.img_src}
          class="rounded-circle mb-2"
          alt={item.name}
          width="120"
        />
        <figcaption class="blockquote-footer mt-0">{item.name}</figcaption>
      </figure>
    ))
  }
</div>
 --><!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {
      testimonials.map((item, index) => (
        <div class="swiper-slide">
          <figure>
            <blockquote
              class="col-sm-10 mx-auto blockquote text-opacity-25"
              set:html={item.quote}
            />
            <img
              src={item.img_src}
              class="rounded-circle mb-2 mx-auto"
              alt={item.name}
              width="120"
              style="max-width: 120px"
            />
            <figcaption class="blockquote-footer mt-0">{item.name}</figcaption>
          </figure>
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper, { Pagination, Navigation, Autoplay } from "swiper";

  var swiper = new Swiper(".mySwiper", {
    grabCursor: true,
    modules: [Pagination, Navigation, Autoplay],
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    autoplay: {
      delay: 6000,
      disableOnInteraction: true,
    },
    loop: true,
    slidesPerView: 1,
    breakpoints: {},
  });
</script>

<style lang="scss" is:global>
  @import "swiper/css";
  @import "swiper/css/pagination";
  @import "swiper/css/navigation";

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  figure {
    margin-inline: 40px;
  }
</style>
