---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import InteractiveBlurElement from "../components/InteractiveBlurElement.astro";

export interface Props {
  title?: string;
  desc?: string;
}

import "../styles/global.scss";
import "../styles/styles.scss";

const NODE_ENV = process.env.NODE_ENV;

const { title, desc } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap"
    />
    <title>{title}</title>
    <meta name="description" content={desc} />

    <!-- 
    Start of global snippet: Please do not remove
    Place this snippet between the <head> and </head> tags on every page of your site.
    Creation date: 08/15/2023
    -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=DC-9025941"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'DC-9025941');
    </script>
    <!-- End of global snippet: Please do not remove -->

    <!-- Start of event snippet: Please do not remove 220913 -->
    <script is:inline>
      gtag("event", "conversion", {
        allow_custom_scripts: true,
        send_to: "DC-9025941/ssg/frpag0+standard",
      });
    </script>
    <!-- End of event snippet: Please do not remove -->

    <!-- start of STAGING:aa_tracking -->
    {
      NODE_ENV == "production" ? (
        <script
          is:inline
          src="//assets.adobedtm.com/7354f1c0c20b/4d66c2785df1/launch-73048e175078.min.js"
        />
      ) : (
        <script
          is:inline
          src="//assets.adobedtm.com/7354f1c0c20b/4d66c2785df1/launch-1be7209a7910-staging.min.js"
        />
      )
    }
    <!-- end of PRODUCTION:aa_tracking -->

    <!--
    Event snippet for FR~Page Load_MIN~MOE_SB~SSG_PC~NMCFY23LandingPage on https://www.skillsfuture.gov.sg/upskill: Please do not remove.
    Place this snippet on pages with events you’re tracking. 
    Creation date: 08/15/2023
    -->
    <script>
      gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-9025941/ssg/frpag00c+standard'
      });
    </script>
    <!-- End of event snippet: Please do not remove -->

  </head>

  <body>
    <!--
    Event snippet for FR~Page Load_MIN~MOE_SB~SSG_PC~NMCFY23LandingPage on https://www.skillsfuture.gov.sg/upskill: Please do not remove.
    Place this snippet on pages with events you’re tracking. 
    Creation date: 08/15/2023
    -->
    <noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=9025941;type=ssg;cat=frpag00c;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
    </noscript>
    <!-- End of event snippet: Please do not remove -->

    <InteractiveBlurElement />
    
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      import * as bootstrap from "bootstrap";
      console.log("bs_init", bootstrap);

      import AOS from 'aos';
      AOS.init();
    </script>

    <script is:inline>
      // body start
      // _satellite_tracking
      var digitalData = {
        video: {},
        email: {},
      };

      // newsletter-track.js.
      function trackUpskillNewsLetter(email) {
        if (validateEmail(email)) {
          digitalData.email.address = email;
          _satellite.track("upskillNewsletter");
        }
      }
      // yt-track.js.
      function trackVideoView(videoTitle) {
        digitalData.video.title = videoTitle;
        _satellite.track("videoView");
      }

      function validateEmail(email) {
        return String(email)
          .toLowerCase()
          .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          );
      }

      // loads the youtube_iframeapi code asynchronously.
      var tag = document.createElement("script");
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // when youtube_iframeapi ready
      function onYouTubeIframeAPIReady() {
        let video1 = new YT.Player("campaign_video1", {
          width: "100%",
          height: "100%",
          videoId: "_9Sa-DuWAX8",
          events: {
            onStateChange: onPlayerStateChange,
          },
        });
        let video2 = new YT.Player("campaign_video2", {
          width: "100%",
          height: "100%",
          videoId: "HNPrGZP68Kk",
          events: {
            onStateChange: onPlayerStateChange,
          },
        });
      }
      // when youtube_iframeapi played
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          let track_video_name = `${event.target.g.id} - ${event.target.videoTitle}`;
          // console.log(event, track_video_name);
          trackVideoView(track_video_name);
        }
      }

      _satellite.pageBottom();

      // on_form_submit
      document
        .getElementById("form__subscribe")
        .addEventListener("submit", (e) => {
          let email = e.target.querySelector("[name='email']").value;

          // form was submitted, call:
          trackUpskillNewsLetter(email);
        });

      window.onbeforeunload = () => {
        for (const form of document.getElementsByTagName("form")) {
          form.reset();
        }
      };
    </script>

  </body>
</html>
